
%comedian_style {
    width:150px; 
    height:150px; 
    margin:10px;
    border: 10px solid $default-muted-blue;
    border-radius: 10%;
	display: inline-block;
}

.comedians_list {

}
.on_deck{
    width:150px;
    height:150px;
    border-radius: 10%;
}

#louis, #amy, #aziz, #hannibal, #george {
    @extend %comedian_style;
}

#louis:hover, #amy:hover, #aziz:hover, #hannibal:hover, #george:hover {
	border: 10px solid $default-neon-yellow;
} 


